@import "tailwindcss";
@font-face {
    font-family: "montserrat";
    src: url("assets/fonts/montserrat.ttf") format("truetype");
}
@font-face {
    font-family: "garet";
    src: url("assets/fonts/garet.woff2") format("woff2");
}
@theme {
    /* Fonts */
    --font-garet: "garet", sans-serif;
    --font-montserrat: "montserrat", sans-serif;

    /* Backgrounds */
    --color-background: #0d1425;
    --color-surface: #1e293b;

    /* Text */
    --color-text: #e5e5e6;
    --color-text-secondary: #94a3b8;

    /* Borders */
    --color-border: #4b5563;

    /* Buttons */
    --color-button-hover: #02132e;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color-background);
}

::-webkit-scrollbar-thumb {
    background: var(--color-surface);
    border: 2px solid var(--color-background);
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-border);
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-surface) var(--color-background);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

input::placeholder {
    color: --text-secondary;
}
