@import "tailwindcss";
@font-face {
    font-family: "montserrat";
    src: url("assets/fonts/montserrat.ttf") format("truetype");
}
@font-face {
    font-family: "garet";
    src: url("assets/fonts/garet.woff2") format("woff2");
}

@theme {
    /* Fonts */
    --font-garet: "garet", sans-serif;
    --font-montserrat: "montserrat", sans-serif;

    /* Backgrounds */
    --color-background: #000000;
    --color-surface: #18181B;

    /* Text */
    --color-text: #ffffff;
    --color-text-secondary: #e9bb67;
    --color-text-gray: #ada18b;

    /* Borders */
    --color-border: #808080;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color-background);
}

::-webkit-scrollbar-thumb {
    background: var(--color-surface);
    border: 2px solid var(--color-background);
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-border);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    letter-spacing: 0.02em;
    scrollbar-width: thin;
    scrollbar-color: var(--color-surface) var(--color-background);
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "garet", sans-serif;
    background: black;
}

input[type="checkbox"] {
    width: 0.9rem;
    height: 0.9rem;
    accent-color: var(--color-text-secondary);
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, Opera */
}